@import url('https://fonts.googleapis.com/css?family=Lato:400,700');

*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

body{
    background-color: #eee;
    font-family: 'Lato', sans-serif;
}

#page-wraper{
    position: relative;
}

#header {
    position: fixed;
    top: 0;
    min-height: 75px;
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding: 0px 20px;
    background-color: #eee;
}

.logo {
    width: 60vw;
}

#header-img {
    height: 100%;
    width: 100%;
    max-width: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 20px;
    text-align: center;
}

#navbar{
    font-weight: 400;
}

ul{
    width: 37.1vw;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

li{
    list-style: none;
}

.nav-link{
    color: black;
    text-decoration: none;
    padding: 0px;
}

.nav-link:hover{
    color: black;
}

#hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 200px;
    margin-top: 50px;
}

h2 {
    margin-bottom: 20px;
    word-break: break-word;
    font-size: 24px;
    font-weight: 600;
}

#hero input[type='email'] {
    max-width: 275px;
    width: 100%;
    padding: 0px 5px;
}

#hero input[type='submit'] {
    max-width: 150px;
    width: 100%;
    border: 0px;
    margin: 15px 0px;
    padding: -1px 0px;
    height: 35px;
    font-weight: bolder;
    font-size: 16px;
}

/* Main Content */
.main-container {
    max-width: 1000px;
    width: 100%;
    margin: 0px auto;
}

#features {
    margin-top: 30px;
}

.grid {
    display: flex;
  }

.grid .logo {
    width: 20vw;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 125px;
    color: darkorange;
}

#features .desc {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 125px;
    width: 80vw;
    padding: 5px;
}

.desc h2{
    margin: 0px;
    padding: 0px;
    font-size: 24px;
    font-weight: bold;
}

.desc p {
    margin-top: 0;
    margin-bottom: 1rem;
    margin: 0px;
    padding: 0px;
    font-size: 16px;
}

#how-it-works {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

#video {
    max-width: 560px;
    width: 100%;
}

#pricing {
    margin-top: 60px;
    display: flex;
    justify-content: center;
}

#tenor {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: calc(100% / 3 );
    margin: 10px;
    border: 1px solid black;
    border-radius: 3px;
}

.level {
    background-color: #ddd;
    color: black;
    width: 100%;
    padding: 15px 0px;
    font-weight: 700;
}

.product h2{
    margin: 15px 0px 0px 0px;
}

.product ol{
    margin: 15px 0px;
    padding: 0px;
}

.product ol li{
    padding: 5px 0px;
}

.card-button {
    margin: 10px 0px;
}

.card-button {
    border: 0px;
    margin: 15px 0px;
    width: 30%;
    text-transform: uppercase;
    font-weight: 400;
    height: 40px;
    padding: 0px 20px;
}

footer {
    margin-top: 30px;
    background-color: #ddd;
    padding: 20px;
}

footer ul {

    display: flex;
    justify-content: flex-end;
    width: 100%;
    margin-bottom: 0px;
}

footer ul li{
    padding: 0px 10px;
}

footer ul li a{
    color: black;
    text-decoration: none;
}

footer span {
    display: flex;
    justify-content: flex-end;
    color: #444;
    font-size: 0.9rem;
    margin-top: 5px;
}
